#canvas-wrap
    canvas#grid
#wrap
    #counter setInterval
    #content-wrap
        #header
            h1= title
            form#form
                input(type='text', autocomplete='off')#text
                label(for='font-size') font size
                select(name='font-size')#font-size
                    option(value='12') 12
                    option(value='13') 13
                    option(value='14') 14
                    option(value='16') 16
                    option(value='18') 18
                    option(value='20') 20
                    option(value='22') 22
                    option(value='25') 25
                    option(value='28') 28
                    option(value='30') 30
                    option(value='33') 33
                    option(value='35') 35
                    option(value='38') 38
                    option(value='40') 40
                input(type='submit', value='Send', id='submit')
        #info
            p
        #board-container
            #sticky-board
script(type='text/javascript', src='/javascripts/bggrid.js')