!!! 5
html(lang='ja-JP')
  head
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/stickify.css')
    title= title
    script(type='text/javascript', src='/js/jquery/jquery-1.6.min.js')
    script(type='text/javascript', src='/js/jquery/jquery.easing.1.3.js')
    script(type='text/javascript', src='/js/jquery/jquery.stickify.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/manager.js')
    script(type='text/javascript', src='/js/init.js')
  body!= body