.sticky {
    position: absolute;
    min-width: 100px;
    min-height: 10px;
    padding: 10px 10px 10px 18px;
    background: #f8b5ab;
    font-size: 12px;
    color: black;
    display: none;
    opacity: 0.9;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 3px 7px #5f5f5f;
    -moz-box-shadow: 0 3px 5px #5f5f5f;
    -webkit-box-shadow: 0 3px 5px #5f5f5f;
}
.sticky:hover, .sticky:active {
    cursor: move;
}