#index(data-role: 'page', data-theme: 'a')
    div(data-role: 'header')
        h1 BrainSocket
    
    div(data-role: 'content')
        ul(data-role: 'listview')
            li(data-role: 'list-devider') Menu
            li
                a(href: '#about')
                    h3 このサイトについて
            li
                a(href: '#about')
                    h3 セミナー情報
            li
                a(href: '#about')
                    h3 お問い合わせ
    
    div(data-role: 'footer')
        h4 &copy;hideyukisaito.com