!!! 5
html(lang='ja-JP')
  head
    meta(charset: 'UTF-8')
    meta(http-equiv: 'Content-Style-Type', content: 'text/css')
    meta(http-equiv: 'Content-Script-Type', content: 'text/javascript')
    title foo
    link(rel='stylesheet', href='/css/jquery.mobile-1.0a4.1.min.css')
    script(type='text/javascript', src='/js/jquery/jquery-1.6.1.min.js')
    script(type='text/javascript', src='/js/jquery/jquery.mobile-1.0a4.1.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/manager.js')
  body!= body